.card-detail{
    font-size: 1.8em;
    margin: 10px
}

.card-detail h3{
    font-size: 2em;
}

.card-detail h5{
    font-size: 1.2em;
}

.card-detail img {
    width: 100px;
    height: 120px;
}

.card-detail li{
    list-style: none;
    font-size: 0.8em;
}
